<!DOCTYPE html>
<html>
  <head>
    <title>BugZilla</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
  </head>

  <body>
  	<% if session[:user] %>
  <div class="topnav">
  <a class="active" href="/dashboard/home">Home</a>
  <a href="/users/logout">Logout</a>
</div>
<% end %>
    <%= yield %>
  </body>
</html>
